* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body {
  background-color: #efefef;
  /* Make 1rem = 10px */
  font-size: 62.5%;
}

/* #1876f2 */

nav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0.5rem;
  z-index: 1;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  gap: 0.4rem;
}

.nav-left {
  display: flex;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  background-color: #eff0f1;
  padding: 0.4rem;
  border-radius: 2rem;
}

.search-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: #606770;
}

.search-box input {
  width: 12rem;
  border: none;
  background: none;
}

.nav-middle {
  justify-content: center;
}

.nav-middle ul {
  display: flex;
  gap: 3rem;
}

.nav-middle ul li {
  list-style: none;
}

.nav-middle-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #606770;
}

.nav-right {
  justify-content: flex-end;
  align-items: center;
}

.online::after {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #31a24c;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 2px solid #fff;
}

.nav-right p {
  font-size: 1rem;
}

.nav-right-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #1c1e21;
  background-color: #cfd1d4;
  padding: 0.8rem;
  border-radius: 50%;
}

.unread-messages {
  position: relative;
}

.unread-messages::after {
  content: '20+';
  background-color: #f02849;
  padding: 0.2rem 0.64rem;
  overflow: hidden;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  width: 1.2rem;
  height: 0.8rem;
  position: absolute;
  top: -0.32rem;
  right: -0.8rem;
  border-radius: 0.8rem;
}

.container {
  margin-top: 6.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.left-sidebar {
}

.important-links {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 1.2rem;
}

.important-links a {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  text-decoration: none;
  color: #050505;
  font-size: 0.8rem;
  font-weight: bold;
}

.important-links a:nth-child(3) img,
.important-links a:nth-child(10) img {
  background-color: rgb(26, 130, 244);
  padding: 0.2rem;
  border-radius: 50%;
}

.important-links a img {
  width: 2.4rem;
  height: 2.4rem;
}

.important-links a:nth-child(2) span {
  display: flex;
  flex-direction: column;
}

.request {
  color: rgb(26, 130, 244);
  font-size: 0.6rem;
}

/*--------------------- -------------------main-content-------------------------------------------------------------------- */

.main-content {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  gap: 2rem;
  align-items: center;
}

/* ---------- Stories -------------*/
.stories {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
}

.story img {
  width: 6.2rem;
  height: auto;
  border-radius: 1.2rem;
  box-shadow: 0 1px 2px #050505;
}

.profile {
  position: relative;
}

.profile::before {
  content: '';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url('images/');
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  border-radius: 50%;
  border: 5px solid rgb(26, 130, 244);
}

.name {
  position: relative;
}

.name::after {
  content: 'username';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-75%);
}

.more-stories {
  position: relative;
}

.more-stories::after {
  content: url(img/stories/arrow-forward-circle.svg);
  stroke: #fff;
  position: absolute;
  bottom: 4.4rem;
  left: 6.8rem;
  background-color: #efefef;
  border-radius: 50%;
}

/* ---------- Post Something -------------*/

.post-something {
  width: 80%;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}

.post-content,
.post-types {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content {
  gap: 0.48rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #cfd1d4;
}

.post-content input {
  background-color: #eff0f1;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: 0;
  font-size: 1.2rem;
  width: 100%;
}

.post-types {
  gap: 3.2rem;
}

.post-type {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #606770;
  font-weight: 600;
  gap: 0.1rem;
}

.post-type-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.post-type:nth-child(1) .post-type-icon {
  color: rgb(240, 40, 73);
}

.post-type:nth-child(2) .post-type-icon {
  color: rgb(69, 189, 98);
}

.post-type:nth-child(3) .post-type-icon {
  color: rgb(247, 188, 51);
}

/* ------------------ New Feed -----------  */

.new-feeds {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
}

.feed {
  display: flex;
  flex-direction: column;
}
.feed-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 1.2rem;
  border-bottom: 1px solid #cfd1d4;
}

.feed-info {
  display: flex;
  flex-direction: column;
  gap: 0.24rem;
}

.feed-info p:nth-child(1) {
  color: #000;
  font-weight: 600;
  font-size: 0.8rem;
}

.feed-info p:nth-child(2) {
  color: #606770;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.feed-content img {
  border-bottom: 4px solid #cfd1d4;
}

.feed-content img {
  width: 100%;
  height: auto;
}

.feed-interaction {
  padding: 0.48rem 1.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.48rem;
}

.likes-counter {
  display: flex;
  gap: 0.2rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.48rem;
  border-bottom: 1px solid #cfd1d4;
  font-size: 1rem;
  color: #606770;
}

.likes-counter-left-side {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.likes-counter .icon {
  background-color: rgb(26, 130, 244);
  border-radius: 50%;
  color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.2rem;
}

.likes-counter {
  position: relative;
}

.likes-counter .icon:nth-child(2) {
  background-color: #f0375c;
  position: absolute;
  top: 0;
  left: 0.9rem;
  z-index: 1;
}

.likes-counter .icon:nth-child(1) {
  z-index: 2;
}

.feed-btns {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-bottom: 0.48rem;
  border-bottom: 1px solid #cfd1d4;
}

.feed-btns .icon {
  width: 1.2rem;
  height: 1.2rem;
  color: #606770;
}

.feed-btn {
  display: flex;
  align-items: center;
  gap: 0.48rem;
}

.feed-btn p {
  font-size: 0.8rem;
  color: #606770;
  font-weight: 600;
}

.feed-comments {
  display: flex;
  gap: 0.2rem;
}

.feed-comments img {
  width: 2rem;
  height: 2rem;
}

.feed-comments-right-side {
  display: flex;
  flex-direction: column;
  gap: 0.24rem;
}
.comment-box {
  background-color: #eff0f1;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.32rem;
  border-radius: 1.2rem;
}

.comment-box p {
  color: #000;
}
.comment-box p:nth-child(1) {
  font-weight: 600;
}
.comment-box p:nth-child(2) {
}

.comment-interactions {
  display: flex;
  gap: 0.12rem;
  padding: 0 0.64rem;
  font-size: 0.6rem;
  color: #606770;
}

.write-comment {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.write-comment img {
  width: 2rem;
  height: 2rem;
}

.write-comment .online::after {
  width: 0.4rem;
  height: 0.4rem;
}

.write-comment input {
  width: 100%;
  height: 2rem;
  background-color: #efefef;
  border: none;
  border-radius: 2rem;
  padding: 0 0.62rem;
}

.write-comment-box {
  width: 100%;
  position: relative;
}

.comment-options-icons {
  position: absolute;
  top: 0.62rem;
  right: 0.8rem;
  display: flex;
  gap: 0.3rem;
}

.comment-option-icon {
  color: #606770;
  width: 0.8rem;
  height: 0.8rem;
}
